* {             margin: 0;
                padding: 0;
}

body {          overflow: auto;
                overflow-x: hidden;
                border: 0px;
                margin: 0px;
                padding: 0px;
                background-color: rgb(148, 135, 126);
                
}

header img {    margin-left: 15%;
                margin-top: 15px;
                float: left;
                width: 7%;
                height: 7%;
                border-radius: 90px;
                border-style: solid;
                border-color: rgb(148, 100, 10);
}

header h1 {     font-family: impact, sans-serif;
                color: rgb(148, 200, 64);
                margin: auto;
                text-align: center;
                font-size: 3.7em;
                height: 80px;
                padding: .5em 7em;
                margin-top: 20px;
                position: relative;
                text-shadow: 2px 2px 2px rgb(0, 0, 0);
}